body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('cyberpunk_background.jpg');
    background-size: cover;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 200px;
}

.sidebar header {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    width: calc(100% - 200px); /* Adjusting width to accommodate the sidebar */
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

article {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}
