body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('nocturne.jpg');
    background-size: cover;
    color: #fff;
    min-height: 100vh; 
    position: relative; /* Needed for the fixed footer */
}

.container {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 200px;
    flex-shrink: 0; /* Sidebar won't shrink */
    padding-bottom: 20px; /* Add padding at the bottom to avoid overlapping with footer */
}

.sidebar header {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    flex: 1; /* Take remaining space */
}

header, article, footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

article {
    margin-bottom: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Stick to the bottom */
}
