body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('nocturne.jpg');
    background-size: cover;
    color: #fff;
    min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
    position: relative; /* Needed for the fixed footer */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 200px;
    flex-shrink: 0; /* Sidebar won't shrink */
    padding-bottom: 20px; /* Add padding at the bottom to avoid overlapping with footer */
}

.sidebar header {
    padding: 0px;
    text-align: center;
}

.sidebar nav {
    width: 100%; /* Set the width of the nav to 100% */
    margin-top: 3px;
}

.sidebar nav ul {
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    flex: 1; /* Take remaining space */
    margin-left: 200px; /* Add margin to avoid overlapping with sidebar */
}

header, article, footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

article {
    margin-bottom: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
}

